@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Inertia with React sample</h1>
    <a asp-action="Counter">Display counter in react page</a>
    <a asp-action="DisplayUser" asp-route-id="1">Display user information form dynamic data</a>
    <a asp-action="EditUser" asp-route-id="2">Display user edit form with dynamic data</a>
</div>
